#aboutWrapper {
  @extend %contentWrapper;
  .pageSectionContent { @extend %fullWidth; }
  section { 
    border-bottom: 1px solid $gray;
    padding-bottom: 30px;
    padding-top: 50px;
    &:first-child { padding-top: 0; }
    &:last-child { border: 0; }
    &:nth-child(2n) {
      background-color: $beige; 
      .pageSectionCopy { float: right; padding-right: 0; padding-left: $gutter; }
      .pageSectionRight { float: left; }
    }
  }
}

.aboutLeadership {
  @extend %clearAfter;
  .leadershipCard { width: 25%; height: 190px; text-align: center; float: left; }
}