
.slideshowContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 0;
  padding: 35% 0;
  .projectColBig & { padding: 36% 0; }
}

.slideshowSlider {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transition: left 0.25s,right 0.25s;
    z-index: 0;
    .slide {
      position: absolute;
      left: -100%;
      top: 0;
      bottom: 0;
      width: 100%;
      z-index: 0;
      img { @extend %blockImg; }
      &:first-child { z-index: 100; left: 0; }
    }
}

.slideshowControls {
  .prevNext {
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: 50;
    li {
      position: absolute;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      background-color: #FFFFFF;
      opacity: 0.8;
      &:first-child {
        left: 0;
        cursor: w-resize;
        &:after { content: "<"; }
      }
      &:last-child {
        right: 0;
        cursor: e-resize;
        &:after { content: ">"; }
      }
    }
  }
  .slideshowIndicators {
    width: 100%;
    position: absolute;
    bottom: 10px;
    z-index: 50;
    text-align: center;
    li {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin: 0 5px;
      background-color: rgba(#FFF,0.5);
      transition: background-color 0.25s; 
      cursor: pointer;
      &.active { background-color: rgba(#FFF,0.95); }
    }
  }
  span { @extend %positionOff; }
}

.slideshowOverlay {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 25;
  background-color: rgba($purple,0.6);
  color: $beige;
  opacity: 0;
  transition: opacity 0.25s;
  h3,h4 { font-size: 14px; }
  .slideshowOverlayContainer { padding: 8px 8px 28px; }
  .slideshowContainer:hover & { opacity: 1; }
}

.pageSectionContent {
  @extend %clearAfter;
}

.pageSectionCopy {
  @extend %col-3;
  @extend %col-lg-4;
  @extend %col-md-12;
  p { font-size: em(18px); }
  h2 {
    color: $purple;
    font-weight: 300;
    font-size: em(36px);
    margin-bottom: 0.5em;
  }
}

.pageSectionRight {
  @extend %col-9;
  @extend %col-lg-8;
  @extend %col-md-12;
  @extend %clearAfter;
  float: right;
}

@media screen and (max-width: $md) {
  .pageSectionCopy, .pageSectionRight { 
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
}

// Quote box
%quoteBox {
  @extend %col-9;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: $beige; 
  z-index: 0;
  a { color: $beige; }
}

%quoteBoxText,%quoteBoxAttribute {
  position: relative;
  z-index: 100;
  padding: 50px 0;
}

%quoteBoxText {
  width: 66%;
  float: right;
  p { 
    font-size: em(36px); 
    margin-right: $gutter; 
    margin-bottom: 0.5em;
    font-weight: 300;
    &:last-child { margin-bottom: 0; }
    &%quoteBoxAttribution {
      text-align: right;
      font-size: em(24px);
      margin-top: -1em;
    }
  }
  %quoteBoxButton { @extend %linkButton; font-size: em(18px); }
}



%quoteBoxAttribute {
  text-align: center;
  width: 33%;
  float: left;
}

%quoteBoxOverlay {
  background-color: rgba($purple,0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}