.leadershipPortrait {
  height: 120px;
  width: 120px;
  margin: 0 auto 16px;
  @media screen and (max-width: $xs) { width: 100px; }
  img {
    display: inline-block;
    border-radius: 50%;
    width: 100%;
    height: auto;
  }
}

.leadershipContact {
  @extend %glyphs;
  li {
    display: inline-block;
    width: 19px;
    height: 19px;
    line-height: 19px;
  }
  span { @extend %positionOff; }
  a {
    @extend %blockA;
  }
  .email a:after { content: "M"; }
  .linkedin a:after { content: "L"; }
}

#leadershipWrapper {
  @extend %contentWrapper;
  section {
    @extend %fullWidth;
    @extend %clearAfter;
  }
  .leadershipLeft { @extend %col-2; @extend %col-md-4; @extend %col-sm-12;}
  .leadershipCopy { @extend %col-10; @extend %col-md-8; @extend %col-sm-12; }
}

.leadershipLeft { text-align: center; }
.leadershipCopy {
  p { 
    font-size: em(18px);
    margin-bottom: 1em;
    &:first-child {
      color: $purple;
      font-size: em(24px);
      font-weight: 700;
    }
    &:last-child { margin-bottom: 0; }
  }
}

#leadershipPopup {
  position: absolute;
  z-index: 2000;
  top: $gutter;
  left: 0px;
  width: 100%;
  display: none;
}

.leadershipPopupContainer {
  @extend %fullWidth;
  background-color: $beige;
  position: relative;
}

.leadershipPopupContent {
  @extend %col-9;
  background-color: rgba(#FFFFFF,0.95);
  padding: $gutter + 10 $gutter $gutter 0;
  border: 1px solid $gray;
  &:last-child { padding-right: $gutter; }
  .leadershipBio { @extend %clearAfter; }
  .leadershipLeft { width: 25%; float: left; }
  .leadershipCopy { width: 75%; float: right; }
}

.leadershipPopupClose {
  @extend %col-9;
  position: absolute;
  top: 0;
  left: 0;
  button {
    border: 0;
    background: transparent;
    width: 44px;
    height: 44px;
    float: right;
    cursor: pointer;
    span { @extend %positionOff; }
    &:after { content: "X"; }
  }
}