.leadershipPortrait {
  height: 120px;
  img {
    display: inline-block;
    border-radius: 50%;
  }
}

.leadershipContact {
  @extend %glyphs;
  li {
    display: inline-block;
    width: 19px;
    height: 19px;
    line-height: 19px;
  }
  span { @extend %positionOff; }
  a {
    @extend %blockA;
  }
  .email a:after { content: "M"; }
  .linkedin a:after { content: "L"; }
}

#leadershipWrapper {
  @extend %contentWrapper;
  section {
    @extend %fullWidth;
    @extend %clearAfter;
  }
  .leadershipLeft { @extend %col-2; }
  .leadershipCopy { @extend %col-10; }
}

.leadershipLeft { text-align: center; }
.leadershipCopy {
  p { 
    font-size: em(18px);
    margin-bottom: 1em;
    &:first-child {
      color: $purple;
      font-size: em(24px);
      font-weight: 700;
    }
    &:last-child { margin-bottom: 0; }
  }
}