#projectsWrapper {
  @extend %contentWrapper;
}

#singleProjectHeader {
  @extend %contentWrapper;
}

.projectFilters {
  @extend %fullWidth;
  @extend %clearAfter;
  padding-top: 16px;
  padding-bottom: 26px;
  .filters {
    float: left;
    @extend %clearAfter;
    > li {
      float: left;
      width: 113px;
      margin-right: 20px;
      font-size: 18px;
      position: relative;
      line-height: 22px;
      height: 22px;
      ul { 
        display: none;
        position: absolute;
        left: -10px;
        top: 22px;
        width: 200%;
        background-color: #FFFFFF;
      }
      li {
        font-size: 14px;
        line-height: 1.2em;
        &:hover { background-color: $beige; }
      }
      a {
        display: block;
        padding: 10px;
      }
      &:hover { 
        ul { display: block; }
      }
    }
  }
}

.projectFiltersContainer {
  @extend %col-9;
  float: right;
}

#projects-intro { 
  @extend %fullWidth;
  margin-bottom: $gutter;
}

.projectFeature {
  @extend %col-9;
  background-color: $gray;
}

#projectsGrid {
  @extend %fullWidth;
  .projectRow {
    @extend %clearAfter;
    margin-bottom: $gutter;
  }
  .projectCol {
    @extend %col-6;
  }
  
  .project {
    @extend %col-6;
    margin-bottom: $gutter;
    &:nth-child(2n) { padding-right: 0; }
    &:nth-child(2n+1) { clear: both; padding-left: 0; }
    &:last-child,&:nth-last-child(2) {  margin-bottom: 0; }
    &:only-child { @extend %col-12; }
  }
}

#projectsGrid .slideshowControls h3 { font-size: em(14px); padding: 0 20px;  }

#singleProjectHeader {
  @extend %fullWidth;
  @extend %clearAfter;
  margin-bottom: 16px;
}

.singleProjectTitle {
  @extend %col-9;
  @extend %offset-3;
  h2 { 
    color: $purple;
    font-size: em(30px);
  }
}

#singleProjectSlideshow {
  @extend %fullWidth;
  @extend %clearAfter;
  margin-bottom: 30px;
  .servicesIcons {
    @extend %col-1;
    @extend %offset-2;
    ul { float: right; }
    li {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $gray;
      margin-bottom: 10px;
    }
    span { @extend %positionOff; }
    a { @extend %blockA; }
  }
  .projectSlideshow {
    @extend %col-9;
    .slideshowContainer { padding: 31% 0; }
    .slideshowControls .slideshowIndicators li {
      width: 16px;
      height: 16px;
    }
  }
}
%projectH3 {
  font-size: em(15px);
  color: $purple;
  text-transform: uppercase;
  margin-bottom: 6px;
}
#singleProjectCopy {
  @extend %fullWidth;
  @extend %clearAfter;
  margin-bottom: 65px;
  .mainCopy {
    @extend %col-6;
    @extend %offset-3;
    h3 { @extend %projectH3; }
    p {
      font-size: em(18px);
      margin-bottom: 1em;
    }
    aside {
      margin-bottom: 1em;
      p,li { font-size: em(15px); margin-bottom: 0; }
      li {
        display: inline-block;
        white-space: nowrap;
        &:after {
          display: inline-block;
          content: "|";
          margin: 0 3px;
        }
        &:last-child:after { display: none; }
      }
    }
  }
  .projectQuote {
    @extend %col-3;
    blockquote {
      font-size: em(15px);
      color: $purple;
      p {
        font-style: italic;
        &:before { content: "\201C"; }
        &:after { content: "\201D"; }
      }
      cite {
        display: block;
        text-align: right;
        font-style: normal;
      }
    }
  }
  .projectQuotePhoto {
    margin-bottom: 1em;
    img { @extend %blockImg; }
  }
}

#singleProjectRelated {
  @extend %fullWidth;
  @extend %clearAfter;
  margin-bottom: 140px - $gutter;
  .relatedProjects {
    @extend %col-9;
    @extend %offset-3;
  }
  h3 { @extend %projectH3; }
  > div { @extend %clearAfter; }
  .project {
    width: calc(33% - #{(($gutter * 2) / 3)});
    margin-right: $gutter;
    float: left;
    margin-bottom: $gutter;
    &:nth-child(3n) { margin-right: 0; }
    &:nth-child(3n+1) { clear: both; }
  }
}