#servicesWrapper {
  @extend %contentWrapper;
  section { 
    @extend %fullWidth;
    border-bottom: 1px solid $gray;
    padding-bottom: 30px;
    margin-bottom: 50px;
    &:last-child {
      border: 0;
      margin-bottom: 0;
    }
  }
}

.servicesQuote { @extend %quoteBox; }
.servicesQuoteText { @extend %quoteBoxText;
  .viewProjects { @extend %quoteBoxButton; }
}
.servicesQuoteAttribute { @extend %quoteBoxAttribute; }
.servicesQuoteOverlay { @extend %quoteBoxOverlay; }